<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h5><strong>Lista de Usuários</strong></h5>
        </div>
        <div class="card-body">
            <!-- <div class="btn-popup pull-right">
                <a class="btn btn-primary" >Criar Usuário</a>
            </div> -->

            <div class="check-box-busca">
                <div class="check-box-busca-item">
                    <p-checkbox  label="Buscar por Nome" name="checkedBuscaNome"
                        [binary]="true" inputId="binary" [(ngModel)]="checkedBuscaNome" (click)="buscaNomeCheck(checkedBuscaNome)">
                 </p-checkbox>
                </div>

                <div class="check-box-busca-item">
                    <p-checkbox  label="Buscar por CPF" name="checkedBuscaCPF"
                        [binary]="true" inputId="binary" [(ngModel)]="checkedBuscaCPF" (click)="buscaCPFCheck(checkedBuscaCPF)">
                    </p-checkbox>
                </div>
                
                <div class="check-box-busca-item-email">
                    <p-checkbox  label="Buscar por Email" name="checkedBuscaEmail"
                        [binary]="true" inputId="binary" [(ngModel)]="checkedBuscaEmail" (click)="buscaEmailCheck(checkedBuscaEmail)">
                    </p-checkbox>
                </div>

            </div>
            
            <input autocomplete="off" class="input-search" type="text" name="buscaNomeString" [(ngModel)]="buscaNomeString" 
            [placeholder]="newPlaceHolder" (ngModelChange)= buscaNome(buscaNomeString)/>
            <br>

            <div class="category-table custom-datatable transcation-datatable user-image">
                <div class="table-responsive">
                    <table class="table table-striped mobile-3">
                        <thead class="head-mobile">
                            <tr>
                                <th scope="col"></th>
                                <th scope="col" sortable="nome" class="width-mobile-first align-center-div">Nome
                                    <i *ngIf="iconasc5" class="fa fa-sort-down f-12 direction" (click)="ordenacaoNomeasc()"></i>
                                    <i *ngIf="iconasc6" class="fa fa-sort-desc f-12 direction" (click)="ordenacaoNomedesc()"></i>
                                </th>
                                <th scope="col" sortable="cpf" class="align-center-div" >CPF
                                    <i *ngIf="iconasc1" class="fa fa-sort-down f-12 direction" (click)="ordenacaoCPFasc()"></i>
                                    <i *ngIf="iconasc2" class="fa fa-sort-desc f-12 direction" (click)="ordenacaoCPFdesc()"></i>
                                </th>
                                <th scope="col" sortable="email" class="mobile-2 align-center-div">E-mail
                                    <i *ngIf="iconasc3" class="fa fa-sort-down f-12 direction" (click)="ordenacaoEMAILasc()"></i>
                                    <i *ngIf="iconasc4" class="fa fa-sort-desc f-12 direction" (click)="ordenacaoEMAILdesc()"></i>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of tableItem | paginate : {
                                itemsPerPage: pageSize,
                                currentPage: page,
                                totalItems: count
                                };
                                let i = index" class="tr-mobile tr-position-mobile quebra">
                                <td class="td-mobile align-center-div">
                                    <button mat-raised-button (click)="editarUsuario(item)">
                                        <i class='fa fa-edit'></i>
                                    </button>

                                    <button mat-raised-button (click)="excluirUser(item)">
                                        <i class='fa fa-trash-o'></i>
                                    </button>
                                </td>
                                <td class="align-center-div">
                                    {{item.nome}}
                                </td>
                                <td class="align-center-div">{{item.cpf | cpf }}</td>
                                <td class="mobile-2 align-center-div">{{item.email}}</td>
                            </tr>
                        </tbody>
                    </table> 
                    <p><strong>Total:</strong> {{ count }} </p>
                    <div class="d-flex justify-content-center p-2">
                        <div class="col-md-12">
                            <pagination-controls
                            previousLabel=""
                            nextLabel=""
                            [responsive]="true"
                            (pageChange)="handlePageChange($event)"
                            ></pagination-controls>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<swal #sweetAlert  title='Deseja realmente excluir este usuário?' text="Esta ação não poderá ser desfeita!" type="question"
[showCancelButton]="true" [focusCancel]="true" confirmButtonText="Excluir" cancelButtonText="Cancelar"
(confirm)="delete()"></swal>

<app-users-edit #editarPerfil> </app-users-edit>