<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5 ">
            <div class="card shadon-lg border-0 rounded-lg mt-5">    
                <div class="card-body ">
                    <div class="form-group text-centralizado">
                        <h2 class="font-padrao "> Cadastro novo usuário</h2>
                    </div>
                    <div class="form-group margin-top">
                        <label class="tamanho-fonte">ID:</label>
                        <!-- <h4> {{this.storageUser.id}}</h4>  -->
                    </div>
                    <div class="form-group margin-top">
                        <label class="tamanho-fonte">Primeiro Nome:</label>
                        <!-- <h4> {{this.storageUser.firstname}}</h4>  -->
                    </div>

                    <div class="form-group margin-top">
                        <label class="tamanho-fonte">Segundo Nome:</label>
                        <!-- <h4> {{this.storageUser.lastname}}</h4>  -->
                    </div>

                    <div class="form-group margin-top">
                        <label class="tamanho-fonte">E-mail:</label>
                        <!-- <h4> {{this.storageUser.email}}</h4>  -->
                    </div>

                    <div class="form-group">
                        <label class="tamanho-fonte">Senha:</label>
                        <!-- <h4> {{this.storageUser.password}}</h4>  -->
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  
  