<p>profile works!</p>



<ng-template class="theme-modal" #meuPerfil let-modal>
	<div class="modal-content">
        <div class="modal-body">
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-12">
                        <div class="modal-bg">
                            <div class="age-content">
                                <h2> Meu dados</h2>
                                <h4>Meus dados 2</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>