<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5 ">
            <div class="card shadon-lg border-0 rounded-lg mt-5">    
                <div class="card-body ">
                    <div class="form-group text-centralizado">
                        <h2 class="font-padrao "> Cadastro novo usuário</h2>
                    </div>
                    <div class="form-group margin-top">
                        <label class="tamanho-fonte">Primeiro Nome:</label>
                    </div>

                    <div class="form-group margin-top">
                        <label class="tamanho-fonte">Segundo Nome:</label>
                    </div>

                    <div class="form-group margin-top">
                        <label class="tamanho-fonte">E-mail:</label>
                    </div>

                    <div class="form-group">
                        <label class="tamanho-fonte">Senha:</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  
  