@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);


.col-lg-5 {
    flex: 0 0 auto;
    width: 70.666667%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1% 14% 0% 0%;
}

.font-padrao {
    text-align: center;
}

.position-on{
    display: flex;
    flex-direction: row;
}

.margin-h4{
    margin: -4px 0px 10px 5px
}

@media screen and (max-width: 475px) and (min-width: 300x) {
    .col-lg-5 {
        flex: 0 0 auto;
        width: 70.666667%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 1% 14% 0% 0%;
    }
}