<footer>
    <div class="sub-footer">
        <div class="container">
            <div class="row">
                <div class="footer-end">
                    <p><i class="fa fa-copyright" aria-hidden="true"></i> {{ today | date:'y'}} by d3n15 Tec</p>
                </div>
                <div class="payment-card-bottom">
                    <ul>
                        <li>
                            <a><img src="assets/imagens/visa.png" alt=""></a>
                        </li>
                        <li>
                            <a><img src="assets/imagens/mastercard.png" alt=""></a>
                        </li>
                        <li>
                            <a><img src="assets/imagens/paypal.png" alt=""></a>
                        </li>
                        <li>
                            <a><img src="assets/imagens/american-express.png" alt=""></a>
                        </li>
                        <li>
                            <a><img src="assets/imagens/discover.png" alt=""></a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</footer>