
  <div class="sidebar">
    <div class="logo-details">
      <i class='fa fa-reorder' (click)="abrirFechar()"></i>
        <div class="logo_name">d3n15 Tec</div>
        <i class='bx bx-menu'></i>
    </div>
    <ul class="nav-list">
      <li>
        <a href="/home">
          <i class="fa fa-home fa-2x"></i>
          <span class="links_name">Home</span>
        </a>
         <span class="tooltip">Home</span>
      </li>
     
      <li>
        <a href="/dashboard">
          <i class="fa fa-line-chart fa-2x"></i>
          <span class="links_name">Dashboard</span>
        </a>
         <span class="tooltip">Dashboard</span>
      </li>
      
      <li>
       <a href="/restaurantes">
        <i class="fa fa-shopping-cart fa-2x"></i>
         <span class="links_name">Restaurantes</span>
       </a>
       <span class="tooltip">Restaurantes</span>
     </li>

     <li>
      <a href="/food/:id">
       <i class="fa fa-smile-o fa-2x"></i>
        <span class="links_name">Foods</span>
      </a>
      <span class="tooltip">Foods</span>
     </li>

     <li>
       <a href="/pedidos">
        <i class="fa fa-book fa-2x"></i>
         <span class="links_name">Pedidos</span>
       </a>
       <span class="tooltip">Pedidos</span>
     </li>
     
     <li *ngIf="isAdmin">
      <a href="/usuarios">
       <i class="fa fa-group fa-2x"></i>
        <span class="links_name">Usuários</span>
      </a>
      <span class="tooltip">Usuários</span>
    </li>

    <li >
      <a href="/minha-conta">
       <i class="	fa fa-address-book fa-2x"></i>
        <span class="links_name">Meu Perfil</span>
      </a>
      <span class="tooltip">Meu Perfil</span>
    </li>
    
     <li class="profile">
         <a (click)="sair()">
          <span class="links_name links_name_footer">Sair</span>
            <i class='fa fa-power-off fa-2x' id="log_out" ></i>
         </a>
          <span class="tooltip">Sair</span>
     </li>
    </ul>
  </div>