
<header> 
    <div class="header-wrap">
        <div class="top-header">
            <div class="top-bar">
                <div class="wrap-header">
                    <aside class="widget widget_contact"> 
                        <div class="text-widget">
                            <ul>
                                <li>
                                    <a class="screen-reader-text" title="E-mail" href="mailto:support@d3n15_tec.com">
                                        <i class="fa fa-envelope-o fa-init"></i>
                                    </a>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                    <a>
                                        <span class="screen-reader-text">
                                            <i class="fa fa-facebook-official fa-init"></i>
                                        </span>
                                    </a>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                    <a>
                                        <span class="screen-reader-text">
                                            <i class="fa fa-instagram fa-init"></i>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </aside>

                    <div class="right-top-bar">
                        <nav class="top-bar-menu">
                            <div id="mega-menu-wrap-top-menu" class="mega-menu-wrap">
                                <ul id="mega-menu-top-menu" class="mega-menu max-mega-menu mega-menu-horizontal" data-event="hover_intent" data-effect="fade_up" data-effect-speed="200" data-effect-mobile="disabled" data-effect-speed-mobile="0" data-panel-width=".wrap" data-mobile-force-width="false" data-second-click="go" data-document-click="collapse" data-vertical-behaviour="standard" data-breakpoint="767" data-unbind="true" data-mobile-state="collapse_all" data-hover-intent-timeout="300" data-hover-intent-interval="100">
                                    <li class="mega-menu-item  mega-align-bottom-left mega-menu-flyout mega-has-icon mega-icon-left mega-menu-item-121" id="mega-menu-item-121">
                                        <a class="dashicons-admin-users mega-menu-link" href="/minha-conta" tabindex="0"><i class="fa fa-user"></i>Minha conta</a>
                                    </li>
                                    <li class="mega-menu-item  mega-align-bottom-left mega-menu-flyout mega-has-icon mega-icon-left mega-menu-item-122" id="mega-menu-item-122">
                                        <a class="dashicons-unlock mega-menu-link" href="/login" tabindex="0"><i class="fa fa-lock"></i> Login</a>
                                    </li>
                                </ul>
                            </div> 
                        </nav> 
                    </div>
                </div>
            </div>


            <div id="site-branding">
                <div class="wrap">
                    <a href="" class="custom-logo-link" rel="home" aria-current="page">
                        <img width="500" height="500" src="/assets/imagens/site-logo.png" class="custom-logo" alt="Shopping Cart" sizes="(max-width: 500px) 100vw, 500px">
                    </a>
                    <div id="site-detail"> 
                        <a href="" class="custom-logo-link2" rel="home" aria-current="page">
                            <img width="500" height="500" src="/assets/imagens/logo.jpg" class="custom-logo2" alt="Shopping Cart" sizes="(max-width: 500px) 100vw, 500px">
                        </a>
                        <div id="site-description"> d3n15 Tec </div> 
                    </div>
                </div>   
            </div>
            <div class="sticky-wrapper">
                <div id="sticky-header" class="clearfix" >
                    <nav class="main-navigation " role="navigation" aria-label="Main Menu">
                        <div id="mega-menu-wrap-primary" class="mega-menu-wrap">
                            <ul id="mega-menu-primary">                                                   
                                <li class="mega-menu-item-has-children">
                                    <ul class="mega-sub-menu">
                                        <li class="mega-menu-item-205">
                                            <i class="fa-menu fa fa-home"></i>
                                              <a class="mega-menu-link" href="/home">Home</a>
                                        </li>

                                        <li class="mega-menu-item-205" >
                                            <i class="fa-menu fa fa-shopping-cart"></i>
                                              <a class="mega-menu-link" href="/restaurantes">Restaurantes</a>
                                        </li>

                                        <li class="mega-menu-item-205" >
                                            <i class="fa-menu fa fa-smile-o"></i>
                                              <a class="mega-menu-link" href="/food/:id">Foods</a>
                                        </li>

                                        <li class="mega-menu-item-205" >
                                            <i class="fa-menu fa fa-book"></i>
                                              <a class="mega-menu-link" href="/pedidos">Pedidos</a>
                                        </li>

                                        <li class="mega-menu-item-205">
                                            <i class="fa-menu fa fa-paper-plane-o"></i>
                                              <a class="mega-menu-link" href="">Contato</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div> 
                    </nav> 
                </div>
            </div>
        </div>
    </div>
</header> 