@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);


header {
    display: block;
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 9999;
    padding-bottom: 25px;
    margin-top: -84px;
}

.top-bar {
    margin: 0px 0px 10px 0px;
    padding: 0px 0;
}

.top-bar .widget_contact ul li {
    display: inline-block;
    margin-right: 10px;
    line-height: 1.5;
}

.widget_contact ul li {
    padding: 3px 0 2px;
}

.top-bar .widget_contact ul li a {
    font-size: 16px;
}


.widget ul li a {
    color: #222;
}

a {
    cursor: pointer;
    text-decoration: none;
    transition-property: color;
    transition-duration: .2s;
    transition-timing-function: linear;
}

.widget_contact ul li i {
    padding-right: 5px;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    margin: 0px 7px 0px 0px;
}

.wrap {
    margin: 2% 5% 0% 0%;
    max-width: 100%;
    padding: 0;
    position: relative;
}

.aside{
    display: block;
}

div{
    border: 0;
    font-family: 'Titillium Web', sans-serif;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

ul {
    list-style: none;
    margin: 0;
}

.right-top-bar {
    float: right ;
    margin-top: -32px;
    display: flex;
}

.top-bar-menu {
    float: right;
}

nav{
    display: block;
}

#mega-menu-wrap-top-menu {
    clear: both;
}

#mega-menu-wrap-top-menu #mega-menu-top-menu {
    visibility: visible;
    text-align: right;
}

#mega-menu-wrap-top-menu #mega-menu-top-menu > li.mega-menu-item {
    margin: 0 0px 0 0;
    display: inline-block;
    height: auto;
    vertical-align: middle;
}

#mega-menu-wrap-top-menu #mega-menu-top-menu>li.mega-menu-item>a.mega-menu-link {
    line-height: 30px;
}

#mega-menu-wrap-top-menu #mega-menu-top-menu > li.mega-menu-item > a.mega-menu-link {
    border-top: 0px solid #fff;
    border-left: 0px solid #fff;
    border-right: 0px solid #fff;
    border-bottom: 0px solid #fff;
    outline: none;
    text-decoration: none;
    padding: 0px 10px 0px 10px;
    line-height: 40px;
    font-weight: normal;
    height: 40px;
    vertical-align: baseline;
    text-align: left;
    width: auto;
    display: block;
    color: #222;
    text-transform: none;
    text-decoration: none;
    background: rgba(0, 0, 0, 0);
    -webkit-border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -ms-border-radius: 0px 0px 0px 0px;
    -o-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 22px;
}

#site-detail {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

#site-title {
    font-family: 'Titillium Web', sans-serif;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 38px;
    margin: 0;
    transition: all 300ms ease-out 0s;
}

.custom-logo-link {
    display: inline-block;
    margin: 0px 14px 0px 30px;
}

.custom-logo-link .custom-logo {
    height: 78px;
    width: auto;
    vertical-align: middle;
}

.custom-logo-link2 {
    display: inline-block;
    margin: 0px 14px 0px 0px;
}

.custom-logo-link2 .custom-logo2 {
    height: 50px;
    width: auto;
    vertical-align: middle;
}

a img {
    border: 0 none;
}

#site-title a {
    color: #5fa2db;
    display: block;
    text-shadow: 1px -1px 0px black;
}

#site-description {
    clear: both;
    color: #222;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.1em;
    line-height: 1.727;
    margin: 0;
    text-transform: uppercase;
}

.header-right {
    text-align: right;
    display: inline-block;
    float: right;
    padding-top: 12px;
}

.header-right .cart-box {
    color: #222;
    float: right;
    margin-left: 5px;
    position: relative;
    height: 40px;
}

.wishlist-btn, .header-right .wcmenucart-contents {
    float: left;
    padding: 8px 20px 8px 0px;
    color: #222;
    position: relative;
    line-height: 1;
}

.header-right .wcmenucart-contents i {
    font-size: 22px;
    vertical-align: top;
}

#site-branding {
    text-align: center;
    padding: 15px 0 20px;
}

input {
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    font-size: x-large;
    line-height: inherit;
}

.social-links li {
    display: inline-block;
}

.social-links li a {
    display: block;
    float: left;
    font-family: "FontAwesome";
    font-size: 15px;
    text-align: center;
    line-height: 28px;
    transition: all 0.2s linear 0s;
    width: 30px;
}

.header-right .wishlist-btn i, .header-right .wcmenucart-contents i {
    font-size: 22px;
    vertical-align: top;
}

.fa-shopping-basket:before {
    content: "\f291";
}

.header-right .my-cart-wrap {
    float: left;
    color: rgb(0, 0, 0);
    text-align: left;
    font-size: 12px;
    letter-spacing: 1px;
}

.header-right .my-cart-wrap div {
    height: 15px;
    line-height: 1.6;
}

#mega-menu-wrap-primary #mega-menu-primary {
    visibility: visible;
    text-align: left;
}

#mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item-has-children > a.mega-menu-link > span.mega-indicator {
    display: none;
    float: right;
    height: auto;
    width: auto;
    background: transparent;
    position: relative;
    pointer-events: auto;
    left: auto;
    min-width: auto;
    line-height: inherit;
    color: inherit;
    font-size: inherit;
}

.mega-menu-item-has-children{
    margin: 2% -50% 0% -75%;
}

#mega-menu-wrap-primary {
    clear: both;
}

#sticky-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    position: relative;
    z-index: 999;
    height: 60px;
    width: 112%;
    margin: 27px 0px 0px -33px;
}

.clearfix {
    display: block;
}

#sticky-header #site-branding {
    display: none;
    background-color: transparent;
    float: left;
    padding: 5px 15px 5px 0;
}

#sticky-header #site-title {
    font-size: 22px;
    line-height: 25px;
}

.main-navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu.mega-menu-item {
    position: static;
}

#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item {
    margin: 14px 0px 0px -50px;
    display: inline-block;
    height: auto;
    vertical-align: middle;
}

.show-menu-toggle{
    display: none;
}

.mega-sub-menu{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.mega-menu-item-186{
    margin: 0% 0% 0% 30%;
    font-size: x-large;
    display: flex;
}

.mega-menu-item-78{
    margin: 0% 0% 0% 30%;
    font-size: x-large;
    display: flex;
}

.mega-menu-item-187{
    margin: 0% 0% 0% 30%;
    font-size: x-large;
    display: flex;
}

.mega-menu-item-204{
    margin: 0% 0% 0% 30%;
    font-size: x-large;
    display: flex;
}

.mega-menu-item-205{
    margin: 0% 0% 0% 0%;
    font-size: x-large;
}

.dashicons{
    color: #222;
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
}

.sticky-wrapper{
    height: 42px;
    width: 100%;
}

.mega-menu-primary-modal{
    transform: translate(0, 10px);
    transition: opacity 200ms ease-in, transform 200ms ease-in, visibility 200ms ease-in;

    z-index: 999;
    -webkit-border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -ms-border-radius: 0px 0px 0px 0px;
    -o-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    background: #7cdbf3;

    background: -moz-linear-gradient(top, #ffffff, #8cbce6);
    background: -ms-linear-gradient(top, #ffffff, #8cbce6);
    background: -o-linear-gradient(top, #ffffff, #8cbce6);
    background: linear-gradient(to bottom, #ffffff, #8cbce6);

    padding: 20px 20px 20px 20px;
    position: absolute;
    width: 100%;
    border-top: 0px solid #fff;
    border-left: 0px solid #fff;
    border-right: 0px solid #fff;
    border-bottom: 0px solid #fff;
    max-width: none;
    left: 0;
}

.text-widget{
    margin: 0px 0px 0px 25px;
}

.wrap-header{
    margin: 2% 5% 0% 5%;
}

.fa-init{
    font-size: x-large;
}

.mega-menu-item-205:hover{
    background-color: #ffffff;
    color: #5fa2db;
}


@media screen and (max-width: 375px){

    .wrap {
        margin: 2% -6% 0% 0%;
        max-width: 100%;
        padding: 0;
        position: relative;
    }

    .top-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .widget_contact {
        margin: 0px 0px 30px 0px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #site-branding {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-right {
        display: none;
    }

    .mega-menu-link{
        font-size: small;
    }

    .mega-menu-item-has-children {
        display: table-caption;
        margin: 5% -15% 0% -24%;
    }

    .fa-menu{
        font-size: xx-large;
    }

    .mega-menu-item-205 {
        margin: 0% 0% 0% 0%;
        font-size: x-large;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #sticky-header {
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);
        border-top: 1px solid rgba(0, 0, 0, 0.08);
        position: relative;
        z-index: 999;
        height: 80px;
        width: 112%;
        margin: 16px 0px 0px -34px;
    }

    header {
        display: block;
        position: fixed;
        background-color: white;
        width: 100%;
        z-index: 9999;
        margin-top: -20px;
        padding: 10px 0px 43px 0px;
    }
}

@media screen and (max-width: 475px) and (min-width: 376px) {

    .wrap {
        margin: 2% -6% 0% 0%;
        max-width: 100%;
        padding: 0;
        position: relative;
    }
    
    .top-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .widget_contact {
        margin: 0px 0px 30px 0px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #site-branding {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-right {
        display: none;
    }

    .mega-menu-link{
        font-size: small;
    }

    .mega-menu-item-has-children {
        display: table-caption;
        margin: 5% -15% 0% -24%;
    }

    .fa-menu{
        font-size: xx-large;
    }

    .mega-menu-item-205 {
        margin: 0% 0% 0% 0%;
        font-size: x-large;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #sticky-header {
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);
        border-top: 1px solid rgba(0, 0, 0, 0.08);
        position: relative;
        z-index: 999;
        height: 80px;
        width: 112%;
        margin: 16px 0px 0px -34px;
    }

    header {
        display: block;
        position: fixed;
        background-color: white;
        width: 100%;
        z-index: 9999;
        margin-top: -24px;
        padding: 10px 0px 43px 0px
    }

}

@media screen and (max-width: 600px) and (min-width: 476px) {
    .top-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .widget_contact {
        margin: 0px 0px 30px 0px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #site-branding {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-right {
        display: none;
    }

    .mega-menu-item-205{
        margin: 0% 0% 0% 0%;
        font-size: x-large;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
    
    .mega-menu-item-has-children {
        display: table-caption;
        margin: 3% -17% 0% -34%;
    }
    
    #sticky-header {
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);
        border-top: 1px solid rgba(0, 0, 0, 0.08);
        position: relative;
        z-index: 999;
        height: 80px;
        width: 112%;
        padding: 2px 0px 0px 0px;
        margin: 27px 0px 0px -33px;
    }
    
    .fa-menu{
        font-size: xx-large;
    }

    .mega-menu-link{
        font-size: medium;
    }

    header {
        display: block;
        position: fixed;
        background-color: white;
        width: 100%;
        z-index: 9999;
        margin-top: -34px;
        padding: 10px 0px 42px 0px;
    }
}


@media screen and (max-width: 745px) and (min-width: 601px) {

    .top-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .widget_contact {
        margin: 0px 0px 30px 0px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #site-branding {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-right {
        display: none;
    }

    .mega-menu-item-has-children {
        display: table-caption;
        margin: 2% -10% 0% -26%;
    }

    .mega-menu-item-205{
        margin: 0% 0% 0% 0%;
        font-size: x-large;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    #sticky-header {
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);
        border-top: 1px solid rgba(0, 0, 0, 0.08);
        position: relative;
        z-index: 999;
        height: 80px;
        width: 112%;
        padding: 2px 0px 0px 0px;
        margin: 27px 0px 0px -33px;
    }

    header {
        display: block;
        position: fixed;
        background-color: white;
        width: 100%;
        z-index: 9999;
        margin-top: -51px;
        padding: 10px 0px 44px 0px;
    }
}

@media screen and (max-width: 1000px) and (min-width: 746px) {

    .top-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .widget_contact {
        margin: 0px 0px 30px 0px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #site-branding {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-right {
        display: none;
    }

    .mega-menu-item-has-children {
        margin: 2% -6% 0% -21%;
    }

    header {
        display: block;
        position: fixed;
        background-color: white;
        width: 100%;
        z-index: 9999;
        margin-top: -49px;
        padding: 10px 0px 21px 0px;
    }
}

@media screen and (max-width: 1200px) and (min-width: 1001px) {

    .wrap{
        margin: 2% 5% 0% 12%;
        max-width: 100%;
        padding: 0;
        position: relative;
    }


    .mega-menu-item-has-children{
        margin: 2% -10% 0% -30%;
    }

    .wrap-header{
        margin: 2% 5% 0% 13%;
    }

    header {
        display: block;
        position: fixed;
        background-color: white;
        width: 100%;
        z-index: 9999;
        margin-top: -60px;
        padding: 10px 0px 21px 0px;
    }
}

@media screen and (max-width: 1400px) and (min-width: 1201px) {

    .wrap{
        margin: 2% 5% 0% 12%;
        max-width: 100%;
        padding: 0;
        position: relative;
    }

    .wrap-header{
        margin: 2% 5% 0% 13%;
    }

    header {
        display: block;
        position: fixed;
        background-color: white;
        width: 100%;
        z-index: 9999;
        padding: 10px 0px 21px 0px;
        margin-top: -83px;
    }

}

@media only screen and (min-width: 1401px){
    .wrap{
        margin: 2% 5% 0% 12%;
        max-width: 100%;
        padding: 0;
        position: relative;
    }

    .wrap-header{
        margin: 2% 5% 0% 13%;
    }

    header {
        display: block;
        position: fixed;
        background-color: white;
        width: 100%;
        z-index: 9999;
        padding: 10px 0px 21px 0px;
        margin-top: -100px;
    }
}