
<main class="main-content my-gap" >
  <div class="card-header">
    <h5><strong>Lista de Restaurantes </strong></h5>
  </div>
<br>

  <div class="restaurant-grid">
    <div class="restaurant-card" *ngFor="let restaurant of restaurantList | paginate : {
          itemsPerPage: pageSize,
          currentPage: page,
          totalItems: count
        };
        let i = index">

      <div class="image-food">
        <img [src]="restaurant.urlSource" alt="Restaurant 1">
      </div>
      <div class="restaurant-details">
        <h3 class="restaurant-name">{{restaurant.name}}</h3>
        <div class="restaurant-rating">
          <span class="rating"><i class="fa fa-star"></i>4.5</span>
          <span class="rating-count">(500+)</span>
        </div>
        <button mat-raised-button class="color color-borda" (click)="onButtonClick(restaurant.id)">
          <b> Comprar </b>
        </button>
      </div>
    </div>
  </div>

  <br>

  <div class="d-flex justify-content-center p-2">
    <div class="col-md-12">
        <pagination-controls
          previousLabel=""
          nextLabel=""
          [responsive]="true"
          (pageChange)="handlePageChange($event)"
        ></pagination-controls>
      </div>
  </div>
</main>
    
    