server:
  port: 9095

eureka:
  instance:
    preferIpAddress: true
    hostname: eureka-0
  client:
    service-url:
      #defaultZone: http://eureka-0.eureka-service.default.svc.cluster.local:8761/eureka
      defaultZone: http://localhost:8761/eureka/

spring:
  application:
    name: FOOD-CATALOGUE-SERVICE
  datasource:
    #url: jdbc:mysql://foodcataloguedb.cdmg6w0804tc.us-east-2.rds.amazonaws.com:3306/foodcataloguedb?useSSL=false&serverTimezone=UTC
    url: jdbc:mysql://localhost:3306/foodcataloguedb?useSSL=false&serverTimezone=UTC
    password: eusou100
    username: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect