
<div class="restaurant-details">
    <div class="restaurant-header">
        <h1>{{nomeRestaurante}}</h1>
        <button class="checkout-button" (click)="onCheckOut()" >
            <i class="fa fa-cart-plus"></i>
            Add Carrinho
        </button>
    </div>

    <p>Tipo do restaurante:</p>
    <h4>{{descricaoRestaurante}}</h4>

    <h2>Menu {{nomeRestaurante}}</h2>
    <div class="food-list">
        <div class="food-item" *ngFor="let food of cardapioRestaurante let i = index">
            <div class="food-details">
                <div class="food-name">Prato: {{ food.itemName}}</div>
                <div class="food-price">Valor: {{ food.price | currency:'BRL':true:'1.2-2' }}</div>
                <div *ngIf="food.veg === true" class="food-price">Prato é vegano: Sim </div>
                <div *ngIf="food.veg === false" class="food-price">Prato é vegano: Não </div>
                <div class="food-price">Pratos disponíveis: {{ food.quantidadeEstoque }} unidades</div>
            </div>
            <div class="food-quantity">
                <div class="div-qtda-pedido" >
                    <p>Quantidade prato:</p>
                </div>
                <button class="minus-button" *ngIf="food.quantidadeEstoque > 0" (click)="decrement(i)">-</button>
                <div class="quantity-label">{{ food.quantidadePedido }}</div>
                <button class="plus-button" (click)="increment(i)">+</button>
            </div>
        </div>
    </div>

</div>
