<div class="order-head">
  <div class="order-summary">
    <h1>Resumo do pedido</h1>
    <table>
      <thead>
        <tr>
          <th class="tr-food"><b>Prato</b></th>
          <th class="tr-food" ><b>Quantidade</b></th>
          <th class="tr-food"><b>Preço</b></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of obj.foodItemsList">
          <td>{{ item.itemName }}</td>
          <td>{{ item.quantidadePedido }}</td>
          <td> {{ item.price | currency:'BRL':true:'1.2-2' }}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="2">Total</td>
          <td> {{ total | currency:'BRL':true:'1.2-2' }}</td>
        </tr>
      </tfoot>
    </table>
    <button mat-raised-button class="checkout-button" (click)="saveOrder()">Comprar</button>
  </div>
</div>
  
  <div class="dialog-container" *ngIf="showDialog">
    <div class="dialog-box">
      <h2>Pedido feito!</h2>
      <p>Seu pedido foi realizado com sucesso.</p>
      <button mat-raised-button class="close-button" (click)="closeDialog()">Fechar</button>
    </div>
  </div>
  