@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

div{
  border: 0;
  font-family: 'Titillium Web', sans-serif;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  vertical-align: baseline;
}

.margin-svg{
  margin: 0px 5px 5px 0px;
}

.margin-food-slide{
  width: 100%;
  text-align: center;
  display: flex;  .restaurant-image {
    height: 200px;
    overflow: hidden;
  }

  .restaurant-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 1px #000000;
  box-shadow: 1px 2px 15px #5fa2db;
  padding: 25px 0px 0px 0px;

}

header {
    display: block;
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 9999;
    padding-bottom: 25px;
    margin-top: -84px;
}

.top-bar {
    margin: 0px 0px 10px 0px;
    padding: 0px 0;
}

.top-bar .widget_contact ul li {
    display: inline-block;
    margin-right: 10px;
    line-height: 1.5;
}

.widget_contact ul li {
    padding: 3px 0 2px;
}

.top-bar .widget_contact ul li a {
    font-size: 16px;
}


.widget ul li a {
    color: #222;
}

a {
    cursor: pointer;
    text-decoration: none;
    transition-property: color;
    transition-duration: .2s;
    transition-timing-function: linear;
}

.widget_contact ul li i {
    padding-right: 5px;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    margin: 0px 7px 0px 0px;
}

.wrap {
    margin: 2% 5% 0% 0%;
    max-width: 100%;
    padding: 0;
    position: relative;
}

.aside{
    display: block;
}

ul {
    list-style: none;
    margin: 0;
}

.right-top-bar {
    float: right ;
    margin-top: -32px;
    display: flex;
}

.top-bar-menu {
    float: right;
}

nav{
    display: block;
}

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes slideInLeft {
  0% {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  }
  @keyframes slideInLeft {
  0% {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
}

#mega-menu-wrap-top-menu {
    clear: both;
}

#mega-menu-wrap-top-menu #mega-menu-top-menu {
    visibility: visible;
    text-align: right;
}

#mega-menu-wrap-top-menu #mega-menu-top-menu > li.mega-menu-item {
    margin: 0 0px 0 0;
    display: inline-block;
    height: auto;
    vertical-align: middle;
}

#mega-menu-wrap-top-menu #mega-menu-top-menu>li.mega-menu-item>a.mega-menu-link {
    line-height: 30px;
}

#mega-menu-wrap-top-menu #mega-menu-top-menu > li.mega-menu-item > a.mega-menu-link {
    border-top: 0px solid #fff;
    border-left: 0px solid #fff;
    border-right: 0px solid #fff;
    border-bottom: 0px solid #fff;
    outline: none;
    text-decoration: none;
    padding: 0px 10px 0px 10px;
    line-height: 40px;
    font-weight: normal;
    height: 40px;
    vertical-align: baseline;
    text-align: left;
    width: auto;
    display: block;
    color: #222;
    text-transform: none;
    text-decoration: none;
    background: rgba(0, 0, 0, 0);
    -webkit-border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -ms-border-radius: 0px 0px 0px 0px;
    -o-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 22px;
}

#site-detail {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

#site-title {
    font-family: 'Titillium Web', sans-serif;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 38px;
    margin: 0;
    transition: all 300ms ease-out 0s;
}

.custom-logo-link {
    display: inline-block;
    margin: 0px 14px 0px 30px;
}

.custom-logo-link .custom-logo {
    height: 78px;
    width: auto;
    vertical-align: middle;
}

.custom-logo-link2 {
    display: inline-block;
    margin: 0px 14px 0px 0px;
}

.custom-logo-link2 .custom-logo2 {
    height: 50px;
    width: auto;
    vertical-align: middle;
}

a img {
    border: 0 none;
}

#site-title a {
    color: #5fa2db;
    display: block;
    text-shadow: 1px -1px 0px black;
}

#site-description {
    clear: both;
    color: #222;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.1em;
    line-height: 1.727;
    margin: 0;
    text-transform: uppercase;
}

.header-right {
    text-align: right;
    display: inline-block;
    float: right;
    padding-top: 12px;
}

.header-right .cart-box {
    color: #222;
    float: right;
    margin-left: 5px;
    position: relative;
    height: 40px;
}

.wishlist-btn, .header-right .wcmenucart-contents {
    float: left;
    padding: 8px 20px 8px 0px;
    color: #222;
    position: relative;
    line-height: 1;
}

.header-right .wcmenucart-contents i {
    font-size: 22px;
    vertical-align: top;
}

#site-branding {
    text-align: center;
    padding: 15px 0 20px;
}

input {
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    font-size: x-large;
    line-height: inherit;
}

.social-links li {
    display: inline-block;
}

.social-links li a {
    display: block;
    float: left;
    font-family: "FontAwesome";
    font-size: 15px;
    text-align: center;
    line-height: 28px;
    transition: all 0.2s linear 0s;
    width: 30px;
}

.header-right .wishlist-btn i, .header-right .wcmenucart-contents i {
    font-size: 22px;
    vertical-align: top;
}

.fa-shopping-basket:before {
    content: "\f291";
}

.header-right .my-cart-wrap {
    float: left;
    color: rgb(0, 0, 0);
    text-align: left;
    font-size: 12px;
    letter-spacing: 1px;
}

.header-right .my-cart-wrap div {
    height: 15px;
    line-height: 1.6;
}

#mega-menu-wrap-primary #mega-menu-primary {
    visibility: visible;
    text-align: left;
}

#mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item-has-children > a.mega-menu-link > span.mega-indicator {
    display: none;
    float: right;
    height: auto;
    width: auto;
    background: transparent;
    position: relative;
    pointer-events: auto;
    left: auto;
    min-width: auto;
    line-height: inherit;
    color: inherit;
    font-size: inherit;
}

.mega-menu-item-has-children{
    margin: 2% -50% 0% -75%;
}

#mega-menu-wrap-primary {
    clear: both;
}

#sticky-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    position: relative;
    z-index: 999;
    height: 60px;
    width: 112%;
    margin: 27px 0px 0px -33px;
}

.clearfix {
    display: block;
}

#sticky-header #site-branding {
    display: none;
    background-color: transparent;
    float: left;
    padding: 5px 15px 5px 0;
}

#sticky-header #site-title {
    font-size: 22px;
    line-height: 25px;
}

.main-navigation {
  padding: 5px 0px 8px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  box-shadow: 0px 5px 15px #b9b9b9;
}

#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu.mega-menu-item {
    position: static;
}

#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item {
    margin: 14px 0px 0px -50px;
    display: inline-block;
    height: auto;
    vertical-align: middle;
}

.show-menu-toggle{
    display: none;
}

.mega-sub-menu{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.mega-menu-item-186{
    margin: 0% 0% 0% 30%;
    font-size: x-large;
    display: flex;
}

.div-carrossel-style {
  border-bottom: solid 1px #000000;
  border-top: solid 1px #000000;
}

.mega-menu-item-78{
    margin: 0% 0% 0% 30%;
    font-size: x-large;
    display: flex;
}

.mega-menu-item-187{
    margin: 0% 0% 0% 30%;
    font-size: x-large;
    display: flex;
}

.mega-menu-item-204{
    margin: 0% 0% 0% 30%;
    font-size: x-large;
    display: flex;
}

.mega-menu-item-205{
    margin: 0% 0% 0% 0%;
    font-size: x-large;
}

.dashicons{
    color: #222;
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
}

.sticky-wrapper{
    height: 42px;
    width: 100%;
}

.mega-menu-primary-modal{
    transform: translate(0, 10px);
    transition: opacity 200ms ease-in, transform 200ms ease-in, visibility 200ms ease-in;

    z-index: 999;
    -webkit-border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -ms-border-radius: 0px 0px 0px 0px;
    -o-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    background: #7cdbf3;

    background: -moz-linear-gradient(top, #ffffff, #8cbce6);
    background: -ms-linear-gradient(top, #ffffff, #8cbce6);
    background: -o-linear-gradient(top, #ffffff, #8cbce6);
    background: linear-gradient(to bottom, #ffffff, #8cbce6);

    padding: 20px 20px 20px 20px;
    position: absolute;
    width: 100%;
    border-top: 0px solid #fff;
    border-left: 0px solid #fff;
    border-right: 0px solid #fff;
    border-bottom: 0px solid #fff;
    max-width: none;
    left: 0;
}

.text-widget{
    margin: 0px 0px 0px 25px;
}

.wrap-header{
    margin: 2% 5% 0% 5%;
}

.fa-init{
    font-size: x-large;
}

.mega-menu-item-205:hover{
    background-color: #ffffff;
    color: #5fa2db;
}

.fa-menu{
  font-size: 30px;
}

.tresd {
  font-family: 'Titillium Web', sans-serif;
  line-height:1em;
  color:#fff9d6;
  font-weight:bold;
  font-size:134px;
  text-shadow:0px 0px 0 rgb(231,231,231),1px 1px 0 rgb(216,216,216),2px 2px 0 rgb(202,202,202),3px 3px 0 rgb(187,187,187),4px 4px 0 rgb(173,173,173),5px 5px 0 rgb(158,158,158), 6px 6px 0 rgb(144,144,144),7px 7px 6px rgba(0,0,0,1),7px 7px 1px rgba(0,0,0,0.5),0px 0px 6px rgba(0,0,0,.2);
}

@media screen and (max-width: 375px){

    .wrap {
        margin: 2% -6% 0% 0%;
        max-width: 100%;
        padding: 0;
        position: relative;
    }

    .top-bar {
        display: none;
    }

    .widget_contact {
        margin: 0px 0px 30px 0px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #site-branding {
        display: none;
    }

    .header-right {
        display: none;
    }

    .mega-menu-link{
        font-size: small;
    }

    .mega-menu-item-has-children {
        display: table-caption;
        margin: 5% -15% 0% -24%;
    }

    .fa-menu{
      font-size: 30px;
    }

    .mega-menu-item-205 {
        margin: 0% 0% 0% 0%;
        font-size: x-large;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #sticky-header {
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);
        border-top: 1px solid rgba(0, 0, 0, 0.08);
        position: relative;
        z-index: 999;
        height: 80px;
        width: 112%;
        margin: -5px 0px 0px -34px;
    }

    header {
        display: block;
        position: fixed;
        background-color: white;
        width: 100%;
        z-index: 9999;
        margin-top: -20px;
        padding: 10px 0px 43px 0px;
    }

    .desktop{
        display: none;
    }

}

@media screen and (max-width: 475px) and (min-width: 376px) {

    .wrap {
        margin: 2% -6% 0% 0%;
        max-width: 100%;
        padding: 0;
        position: relative;
    }
    
    .top-bar {
        display: none;
    }

    .widget_contact {
        margin: 0px 0px 30px 0px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #site-branding {
        display: none;
    }

    .header-right {
        display: none;
    }

    .mega-menu-link{
        font-size: small;
    }

    .mega-menu-item-has-children {
        display: table-caption;
        margin: 5% -15% 0% -24%;
    }

    .fa-menu{
      font-size: 30px;
    }

    .mega-menu-item-205 {
        margin: 0% 0% 0% 0%;
        font-size: x-large;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #sticky-header {
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);
        border-top: 1px solid rgba(0, 0, 0, 0.08);
        position: relative;
        z-index: 999;
        height: 80px;
        width: 112%;
        margin: -4px 0px 0px -34px;
    }

    header {
        display: block;
        position: fixed;
        background-color: white;
        width: 100%;
        z-index: 9999;
        margin-top: -24px;
        padding: 10px 0px 43px 0px
    }

    .desktop{
        display: none;
    }

}

@media screen and (max-width: 600px) and (min-width: 476px) {
    .top-bar {
        display: none;
    }

    .widget_contact {
        margin: 0px 0px 30px 0px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #site-branding {
        display: none;
    }

    .header-right {
        display: none;
    }

    .mega-menu-item-205{
        margin: 0% 0% 0% 0%;
        font-size: x-large;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
    
    .mega-menu-item-has-children {
        display: table-caption;
        margin: 3% -17% 0% -34%;
    }
    
    #sticky-header {
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);
        border-top: 1px solid rgba(0, 0, 0, 0.08);
        position: relative;
        z-index: 999;
        height: 80px;
        width: 112%;
        padding: 2px 0px 0px 0px;
        margin: 0px 0px 0px -33px;
    }
    
    .fa-menu{
      font-size: 30px;
    }

    .mega-menu-link{
        font-size: medium;
    }

    header {
        display: block;
        position: fixed;
        background-color: white;
        width: 100%;
        z-index: 9999;
        margin-top: -34px;
        padding: 10px 0px 42px 0px;
    }

    .desktop{
        display: none;
    }
}


@media screen and (max-width: 745px) and (min-width: 601px) {

    .top-bar {
        display: none;
    }

    .widget_contact {
        margin: 0px 0px 30px 0px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #site-branding {
        display: none;
    }

    .header-right {
        display: none;
    }

    .mega-menu-item-has-children {
        display: table-caption;
        margin: 2% -10% 0% -26%;
    }

    .mega-menu-item-205{
        margin: 0% 0% 0% 0%;
        font-size: x-large;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    #sticky-header {
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);
        border-top: 1px solid rgba(0, 0, 0, 0.08);
        position: relative;
        z-index: 999;
        height: 80px;
        width: 112%;
        padding: 2px 0px 0px 0px;
        margin: 8px 0px 0px -33px;
    }

    header {
        display: block;
        position: fixed;
        background-color: white;
        width: 100%;
        z-index: 9999;
        margin-top: -51px;
        padding: 10px 0px 44px 0px;
    }

    .desktop{
        display: none;
    }
}

@media screen and (max-width: 1000px) and (min-width: 746px) {

    .top-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .widget_contact {
        margin: 0px 0px 30px 0px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #site-branding {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-right {
        display: none;
    }

    .mega-menu-item-has-children {
        margin: 2% -6% 0% -21%;
    }

    header {
        display: block;
        position: fixed;
        background-color: white;
        width: 100%;
        z-index: 9999;
        margin-top: -49px;
        padding: 10px 0px 21px 0px;
    }

    .mobile{
        display: none;
    }
}

@media screen and (max-width: 1200px) and (min-width: 1001px) {

    .wrap{
        margin: 2% 5% 0% 12%;
        max-width: 100%;
        padding: 0;
        position: relative;
    }


    .mega-menu-item-has-children{
        margin: 2% -10% 0% -30%;
    }

    .wrap-header{
        margin: 2% 5% 0% 13%;
    }

    header {
        display: block;
        position: fixed;
        background-color: white;
        width: 100%;
        z-index: 9999;
        margin-top: -60px;
        padding: 10px 0px 21px 0px;
    }

    .mobile{
        display: none;
    }
}

@media screen and (max-width: 1400px) and (min-width: 1201px) {

    .wrap{
        margin: 2% 9% 0% 12%;
        max-width: 100%;
        padding: 0;
        position: relative;
    }

    .wrap-header{
        margin: 2% 5% 0% 13%;
    }

    header {
        display: block;
        position: fixed;
        background-color: white;
        width: 100%;
        z-index: 9999;
        padding: 10px 0px 21px 0px;
        margin-top: -83px;
    }

    .mobile{
        display: none;
    }

}

@media only screen and (min-width: 1401px){
    .wrap{
        margin: 2% 14% 0% 12%;
        max-width: 100%;
        padding: 0;
        position: relative;
    }

    .wrap-header{
        margin: 2% 5% 0% 13%;
    }

    header {
        display: block;
        position: fixed;
        background-color: white;
        width: 100%;
        z-index: 9999;
        padding: 10px 0px 21px 0px;
        margin-top: -100px;
    }

    .mobile{
        display: none;
    }
}

p{
  font-family: 'Titillium Web', sans-serif;
}

h2{
  font-family: 'Titillium Web', sans-serif;
}

div{
  border: 0;
  font-family: 'Titillium Web', sans-serif;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

#blue-text {
  color: #5fa2db;
}

.color {
  font-family: 'Titillium Web', sans-serif;
  background-color: #000000;
  color: white;
  text-align: center;
}

.color-borda {
  font-family: 'Titillium Web', sans-serif;
  border:2px solid #000000 !important;
  cursor: pointer;
}

.restaurant-image {
  height: 200px;
  overflow: hidden;
}

.restaurant-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#features-container {
  margin-top: 5%;
  padding: 2%;
}

#recursos-servico {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2%;
  padding-bottom: 3%;
}

#service-features {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 18%;
  padding-bottom: 3%;
}

.an-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 3%;
  margin: 0px 0px 25px 0px;
}

#features-description {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  margin-top: 225px;
  padding: 1%;
  display: flex;
  width: 60%;
}

#features-description h1 {
  font-size: 45px;
}

#features-description p {
  padding: 1%;
  margin-top: 1%;
}

#feature-1 {
  width: 250px;
  height: 450px;
  text-align: center;

  display: flex;  .restaurant-image {
    height: 200px;
    overflow: hidden;
  }

  .restaurant-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 1px #000000;
  box-shadow: 1px 2px 15px #5fa2db;
  padding: 25px 0px 0px 0px;
}

#feature {
  width: 20%;
  text-align: center;
  display: flex;  .restaurant-image {
    height: 200px;
    overflow: hidden;
  }

  .restaurant-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 1px #000000;
  box-shadow: 1px 2px 15px #5fa2db;
  padding: 25px 0px 0px 0px;
}

#feature img {
  max-width: 30%;
  max-height: 30%;
  padding-top: 5%;
}

#feature-title {
  margin-top: 45px;
}

#feature p {
  width: 70%;
  margin-top: 5%;
}

#feature-button {
  font-family: 'Titillium Web', sans-serif;
  background-color: #ffffff;
  color: #5fa2db;
  text-align: center;
  border-radius: 6px;
  margin: 0% 0% 30% 0%;
  height: 40px;
  width: 110px;
  font-weight: bold;
  font-size: larger;
}

#feature-button:hover {
  background-color: #ffffff;
  color: #000000;  .restaurant-image {
    height: 200px;
    overflow: hidden;
  }

  .restaurant-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  cursor: pointer;
}

#feature-button:focus {
  background-color: #ffffff;
  color: #5fa2db;
  cursor: pointer;
}

#presentation-container {
  display: flex;
  flex-flow: column;
}

#presentation-title-description {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: auto;
  text-align: center;
  margin-top: 5%;
  width: 60%;
}

#presentation-title-description h1 {
  font-size: 45px;
}

#presentation-title-description p {
  margin-top: 1%;
}

#section-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.product-button {
  border: none;
  border-radius: 10px;
  background-color: inherit;
  box-shadow: 1px 2px 15px #bebebe;
  padding: 15px;
  margin: 2%;
  font-size: 15px;
  width: 10%;
}

.product-button:hover {
  cursor: pointer;
}

.product-button:focus {
  outline: 0;
}

.product-button-active {
  background-color: #ff5a6e;
  color: white;
}

#section-content-container {
  margin: auto;
  width: 75%;
}

.product-content {
  display: flex;
  flex-flow: row;
  justify-content: center;
  padding: 2%;
}

#content-image {
  width: 100%;
  height: 100%;
  width: 70%;
  height: auto;
}

#content-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

#content-title-text {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  width: 50%;
  padding: 1%;
}

#content-title-text p {
  margin-top: 2%;
}

.product-features-list {
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  margin-top: 5%;
}

#first-feature-list {
  margin-top: 0;
}

#product-feature-image {
  justify-content: flex-start;
  align-items: flex-start;
  width: 10%;
}

#correct-icon {
  width: 100%;
  height: 100%;
}

#inside-features-title-text {
  display: flex;
  flex-flow: column;
  margin-left: 2%;
}

#content-button {
  border: none;
  border-radius: 10px;
  background-color: #ff5a6e;
  box-shadow: 1px 2px 15px #bebebe;
  padding: 15px;
  width: 25%;
  margin-top: 6%;
  font-size: 16px;
  color: white;
}

#content-button:hover {
  cursor: pointer;
  background-color: #ff7b8b;
}

#main-media-container {
  box-shadow: 2px 2px 15px #bebebe;
  display: flex;
  flex-flow: column;
  align-items: center;
}

#media-title-description {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 4%;
  width: 90%;
}

#media-title-description h1 {
  font-size: 45px;
}

#media-title-description p {
  margin-top: 1%;
}

#media-video-text-container {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  width: 75%;
  padding: 3% 2% 3% 2%;
  border-radius: 10px;
}

#media-text {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  width: 40%;
  height: auto;
}

#media-text h2 {
  font-size: 30px;
}

#media-text p {
  font-size: 17px;
  margin-top: 3%;
}

#text-video-sperator {
  height: 20vh;
  border: solid 0.5px #e1e1e1;
}

#media-button {
  border: solid 1px #c1c1c1;
  border-radius: 10px;
  background-color: inherit;
  box-shadow: 1px 2px 2px #bebebe;
  padding: 15px;
  width: 25%;
  margin-top: 5%;
  font-size: 15px;
  color: black;
}

#media-button:hover {
  cursor: pointer;
  background-color: white;
  background-color: #ff5a6e;
  color: white;
}

#media-video {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

#video {
  width: 60vh;
  height: 35vh;
}

#prices-section-container {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  margin-top: 3%;
}

#prices-title-description {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 60%;
}

#prices-title-description h1 {
  font-size: 45px;
}

#prices-separator {
  width: 5%;
  margin-top: 2%;
  border: solid 1px #ff5a63;
}

#prices-title-description p {
  margin-top: 1%;
}

#all-prices-container {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  width: 90%;
}

.price-container {
  font-family: 'Titillium Web', sans-serif;
  box-shadow: 2px 2px 15px #bebebe;
  text-align: center;
  margin-top: 7%;
  width: 27%;
}

.price-container h1 {
  color: #5fa2db;
  font-size: 45px;
  margin-top: 6%;
}

.price-container h2 {
  color: #323a45;
  font-size: 40px;
  margin-top: 4%;
}

.price-container p {
  margin-top: 4%;
  font-size: 17px;
}

.price-container hr{
  margin: auto;
  margin-top: 4%;
  margin-bottom: 4%;
  width: 70%;
  border: solid 0.5px #c1c1c1;
}

.price-container ul {
  list-style: none;
}

.price-container li {
  padding: 3%;
}

.price-container button {
  border: none;
  font-family: 'Titillium Web', sans-serif;
  border-radius: 6px;
  background-color: #5fa2db;
  box-shadow: 1px 2px 15px #bebebe;
  padding: 10px;
  width: 37%;
  margin-top: 6%;
  font-size: 26px;
  color: white;
  margin-bottom: 6%;
}

.price-container button:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: #000000;
}

#price-container-two {
  margin-top: 4%;
}

#newsletter-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  margin-bottom: 5%;
}

#submit {
  border: none;
  border-radius: 10px;
  background-color: #ff5a6e;
  box-shadow: 1px 2px 15px #bebebe;
  font-size: 16px;
  color: white;
  margin-top: 5%;
  padding: 15px;
  width: 40%;
}

#submit:hover {
  cursor: pointer;
  background-color: #ff7b8b;
}

footer {
  box-shadow: 1px 2px 15px #bebebe;
  margin-top: 4%;
  color: #858585;
  text-align: center;
}

footer p {
  padding: 0.5%;
}

.p-0 {
  padding: 0 !important;
}

.full-banner.parallax {
  background-attachment: fixed;
}


.full-banner {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 190px;
  padding-bottom: 190px;
  background-position: center;
}

.full-banner .banner-contain h2, .full-banner .banner-contain .h2 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 100px;
  font-weight: 700;
  color: #5fa2db;
  margin-top: -15px;
}

.full-banner .banner-contain-2 h2, .full-banner .banner-contain-2 .h2{
  font-family: 'Titillium Web', sans-serif;
  font-size: 100px;
  font-weight: 700;
  color: #ffffff;
  border-radius: 90px;
  margin-top: -15px;
  box-shadow: 0px 1px 55px #5fa2db;
  width: 87%;
}

.full-banner .banner-contain h3, .full-banner .banner-contain .h3 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 60px;
  color: #333333;
  font-weight: 700;
}

.text-center {
  text-align: center !important;
}

.testimonials{
	background-color: #f33f02;
	position: relative;
	padding-top: 80px;
	&:after{
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 30%;
		background-color: #ddd;
	}
}

#customers-testimonials {
	.item-details{
		background-color: #333333;
		color: #fff;
		padding: 20px 10px;
		text-align: left;
	}
	.item {
			text-align: center;
			margin-bottom:80px;
	}
}
.owl-carousel .owl-nav [class*='owl-'] {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.owl-carousel .owl-nav [class*='owl-'].disabled:hover {
  background-color: #D6D6D6;
}
.owl-carousel {
  position: relative;
}
.owl-carousel .owl-next,
.owl-carousel .owl-prev {
  width: 50px;
  height: 50px;
	line-height: 50px;
	border-radius: 50%;
  position: absolute;
  top: 30%;
	font-size: 20px;
  color: #fff;
	border: 1px solid #ddd;
	text-align: center;
}
.owl-carousel .owl-prev {
  left: -70px;
}
.owl-carousel .owl-next {
  right: -70px;
}

.margin-card-carrossel{
  margin: 0px 0px 30px 30px;
}

.features-description-restaurantes {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 1%;
  display: flex;
  width: 60%;
}

.features-container-restaurantes {
  padding: 25px;
  margin: 0px 0px -110px 0px;
}

.features-container-restaurantes-2 {
  padding: 25px;
  margin: 0px 0px -70px 0px;
}

@media only screen and (min-width : 200px) and (max-width : 745px) {

  .full-banner .banner-contain-2 h2, .full-banner .banner-contain-2 .h2{
    font-family: 'Titillium Web', sans-serif;
    font-size: 60px;
    font-weight: 500;
    color: #ffffff;
    border-radius: 90px;
    margin-top: -15px;
    box-shadow: 0px 1px 55px #5fa2db;
    width: 87%;
}

  #title-text-separator {
    width: 15%;
    margin-top: 3%;
    margin-bottom: 3%;
    border: solid 1px #ff5a6e;
  }

  #header {
    background: white;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 80px;
    margin: auto;
  }


  #normal-header {
    display: none;
  }

  #responsive-header {
    display: flex;
    flex-flow: column;
    width: 100%;
    margin: auto;
  }

  #responsive-logo-button {
    display: flex;
    justify-content: space-between;
    padding: 1% 0 1% 0;
  }

  #responsive-nav-bar {
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  #responsive-nav-bar ul {
    list-style: none;
  }

  #responsive-nav-bar li {
    text-align: center;
    font-size: 23px;
    margin-top: 40%;
  }

  #responsive-first-item {
    margin-top: 0;
    padding: 0;
  }

  #header-img-black {
    margin-left: 5%;
    margin-top: 3%;
    width: 50%;
    height: auto;
  }

  #dropdown-button-black {
    display: block;
    width: 55%;
    height: auto;
    margin: 0;
    padding: 0;
  }


  #image-button-black {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    padding: 2%;
  }


  #hero-header {
    width: auto;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(https://i.ibb.co/VTdML0x/accessories-apple-business-1038628.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  #hero-title {
    font-size: 3.5em;
  }

  #hero-text {
    font-size: 1.3em;
    margin-top: 2%;
  }

  #hero-button {
    border: solid 2px white;
    background-color: inherit;
    color: white;
    margin-top: 6%;
    width: 25%;
    height: 55px;
    font-size: 15px;
    border-radius: 10px;
  }

  #hero-button:hover {
    cursor: pointer;
  }
  
  #recursos-servico {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 0px;
  }

  #service-features {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 0px;
  }

  .an-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0px 0px 25px 0px;
  }

  #features-description {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 90px;
    padding: 1%;
    display: flex;
    width: 90%;
  }

  .box {
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px #bebebe;
    box-shadow: 1px 2px 15px #bebebe;
    margin-top: 10%;
  }

  #feature {
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px #bebebe;
    box-shadow: 1px 2px 15px #bebebe;
    margin-top: 10%;
  }

  #feature-button {
    font-family: 'Titillium Web', sans-serif;
    background-color: #ffffff;
    color: #5fa2db;
    text-align: center;
    border-radius: 6px;
    margin: 10% 0% 30% 0%;
    height: 40px;
    width: 100px;
    font-weight: bold;
    font-size: larger;
  }

  #presentation-container {
    margin-top: 5%;
  }

  #presentation-title-description {
    width: 90%;
  }

  #section-buttons {
    margin-top: 5%;
  }

  #section-content-container {
    margin: auto;
    width: 90%;
  }

  #section-content-container {
    margin-top: 7%;
  }

  .product-button {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 40%;
    padding: 15px;
  }

  .product-content {
    display: flex;
    flex-flow: column;
    padding: 2%;
  }

  #content-image {
    width: 100%;
    height: 100%;
  }

  #content-image-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  #content-title-text {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin: auto;
    margin-top: 5%;
  }

  #content-title-text h1 {
    margin: auto;
  }

  #centered-product-description {
    text-align: center;
  }

  #content-title-text p {
    margin-top: 5%;
  }

  #product-feature-image {
    justify-content: center;
    align-items: center;
    width: 20%;
  }

  .product-features-list {
    margin-top: 15%;
  }

  #first-feature-list {
    margin-top: 10%;
  }

  #content-button {
    margin: auto;
    margin-top: 10%;
    width: 35%;
  }

  #main-media-container {
    margin-top: 5%;
  }

  #media-title-description {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 90%;
    margin-top: 8%;
  }

  #media-video-text-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 2% 1% 2% 1%;
    margin-top: 10%;
    text-align: center;
  }

  #media-text  .restaurant-image {
    height: 200px;
    overflow: hidden;
  }

  .restaurant-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #media-text h2 {
    margin: auto;
  }

  #media-text p {
    margin-top: 6%;
  }

  #text-video-sperator {
    height: 1%;
    width: 80%;
    margin-top: 10%;
    margin-bottom: 9%;
  }

  #media-button {
    width: 30%;
    margin: auto;
    margin-top: 7%;
  }

  #media-video {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
  }

  #iframe-video {
    width: 50vh;
    height: 30vh;
    margin-bottom: 8%;
  }

  #prices-section-container {
    margin-top: 15%;
  }

  #prices-title-description {
    width: 90%;
  }

  #all-prices-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-left: 5%;
  }

  .price-container {
    width: 90%;
    margin-top: 15%;
  }

  #price-container-two {
    margin-top: 15%;
  }

  .price-container button {
    width: 35%;
  }

}


@media only screen and (min-width : 746px) and (max-width : 1000px) {

    #header {
      background: white;
      position: fixed;
      display: flex;
      flex-wrap: wrap;
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      min-height: 80px;
      margin: auto;
    }


    #normal-header {
      display: none;
    }

    #responsive-header {
      display: flex;
      flex-flow: column;
      width: 100%;
      margin: auto;
    }

    #responsive-logo-button {
      display: flex;
      justify-content: space-between;
      padding: 1% 0 1% 0;
    }

    #responsive-nav-bar {
      display: flex;
      flex-flow: column;
      align-items: center;
    }

    #responsive-nav-bar ul {
      list-style: none;
    }

    #responsive-nav-bar li {
      text-align: center;
      font-size: 23px;
      margin-top: 40%;
    }

    #responsive-first-item {
      margin-top: 0;
      padding: 0;
    }

    #header-img-black {
      margin-left: 5%;
      margin-top: 3%;
      width: 50%;
      height: auto;
    }

    #dropdown-button-black {
      display: block;
      width: 55%;
      height: auto;
      margin: 0;
      padding: 0;
    }


    #image-button-black {
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: inherit;
      padding: 2%;
    }

  #hero-header {
    width: auto;
    height: 120vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;


    text-align: center;
    color: white;

    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(https://i.ibb.co/VTdML0x/accessories-apple-business-1038628.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  #hero-title {
    font-size: 3.5em;
  }

  #hero-text {
    font-size: 1.3em;
    margin-top: 2%;
  }

  #hero-button {
    border: solid 2px white;
    background-color: inherit;
    color: white;
    margin-top: 6%;
    width: 25%;
    height: 55px;
    font-size: 15px;
    border-radius: 10px;
  }

  #hero-button:hover {
    cursor: pointer;
  }

  #recursos-servico {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 2%;
  }

  #service-features {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 2%;
  }

  .an-box {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 2%;
  }

  #features-description {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 288px;
    padding: 1%;
    display: flex;
    width: 90%;
  }

  #feature {
    width: 30%;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border: solid 1px #bebebe;
    box-shadow: 1px 2px 15px #bebebe;
    margin-top: 10%;
  }

  #feature-button {
    font-family: 'Titillium Web', sans-serif;
    background-color: #ffffff;
    color: #5fa2db;
    text-align: center;
    border-radius: 6px;
    margin: 10% 0% 30% 0%;
    height: 40px;
    width: 100px;
    font-weight: bold;
    font-size: larger;
  }

  #presentation-container {
    margin-top: 5%;
    width: 80%;
    margin: auto;
  }

  #presentation-title-description {
    width: 90%;
  }

  #section-buttons {
    margin-top: 5%;
  }

  #section-content-container {
    margin: auto;
    width: 90%;
  }

  #section-content-container {
    margin-top: 7%;
  }

  .product-button {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 40%;
    padding: 15px;
  }

  .product-content {
    display: flex;
    flex-flow: column;
    padding: 2%;
  }

  #content-image {
    width: 100%;
    height: 100%;
  }

  #content-image-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  #content-title-text {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin: auto;
    margin-top: 5%;
  }

  #content-title-text h1 {
    margin: auto;
  }

  #centered-product-description {
    text-align: center;
  }

  #content-title-text p {
    margin-top: 5%;
  }

  #product-feature-image {
    justify-content: center;
    align-items: center;
    width: 8%;
  }

  .product-features-list {
    margin-top: 15%;
  }

  #first-feature-list {
    margin-top: 10%;
  }

  #content-button {
    margin: auto;
    margin-top: 10%;
    width: 35%;
  }

  #main-media-container {
    margin-top: 5%;
  }

  #media-title-description {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 90%;
    margin-top: 8%;
  }

  #media-video-text-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 2% 1% 2% 1%;
    margin-top: 10%;
    text-align: center;
  }

  #media-text {
    width: 100%;
  }

  #media-text h2 {
    margin: auto;
  }

  #media-text p {
    margin-top: 6%;
  }

  #text-video-sperator {
    height: 1%;
    width: 80%;
    margin-top: 10%;
    margin-bottom: 9%;
  }

  #media-button {
    width: 35%;
    margin: auto;
    margin-top: 7%;
  }

  #media-video {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
  }

  #iframe-video {
    width: 80vh;
    height: 50vh;
    margin-bottom: 9%;
  }

  #prices-section-container {
    margin-top: 15%;
  }

  #prices-title-description {
    width: 90%;
  }

  #all-prices-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .price-container {
    width: 50%;
    margin-top: 15%;
  }

  #price-container-two {
    margin-top: 15%;
  }

  .price-container button {
    width: 35%;
  }

  #newsletter-container {
    margin-top: 10%;
  }
}

